@tailwind base;
@tailwind components;
@tailwind utilities;


.identify-background{
    background-image: url("../../public/images/flowers-8081925_1280.jpg");
}

.justify-around{
    background-image: url("../../public/images/Cactus1.jpg");
}

.bg-cover{
    background-image: url("../../public/images/Flowers2.jpg");
}
.main-carousel{
    height: 75vh
}

