@import 'flowbite/dist/flowbite.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



.identify-background{
    background-image: url("../../public/images/Flowers2.jpg");
}

.main-carousel{
    height: 70vh

}

.bg-cover{
    background-image: url("../../public/images/Flowers2.jpg");
}
.main-carousel{
    height: 75vh
}

